## Case Study Machine Learning

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#### 1. Using sklearn import the wine dataset

In [3]:
df=pd.read_excel('C:\\Users\\megik\\downloads\\winequality-red.xlsx')

In [4]:
pwd

'C:\\Users\\megik'

In [5]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [7]:
df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [8]:
df.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

#### 2.. Split the data into train and test set

In [10]:
X= df.iloc[:,:10]

In [11]:
y=df.quality

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
X_train, X_test , y_train , y_test = train_test_split(X, y, test_size=0.20 )

#### 3. Train the model

In [14]:
print(X_train)

      fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
254             7.1             0.600         0.00            1.80      0.074
954             7.6             0.430         0.40            2.70      0.082
1356            6.1             0.340         0.25            1.80      0.084
150             7.3             0.330         0.47            2.10      0.077
1523            6.8             0.480         0.25            2.00      0.076
...             ...               ...          ...             ...        ...
209            11.0             0.300         0.58            2.10      0.054
1111            5.4             0.420         0.27            2.00      0.092
326            11.6             0.530         0.66            3.65      0.121
77              6.8             0.785         0.00            2.40      0.104
797             9.3             0.370         0.44            1.60      0.038

      free sulfur dioxide  total sulfur dioxide  density    pH  sulphates
254                  16.0                  34.0  0.99720  3.47       0.70
954                   6.0                  11.0  0.99538  3.44       0.54
1356                  4.0                  28.0  0.99464  3.36       0.44
150                   5.0                  11.0  0.99580  3.33       0.53
1523                 29.0                  61.0  0.99530  3.34       0.60
...                   ...                   ...      ...   ...        ...
209                   7.0                  19.0  0.99800  3.31       0.88
1111                 23.0                  55.0  0.99471  3.78       0.64
326                   6.0                  14.0  0.99780  3.05       0.74
77                   14.0                  30.0  0.99660  3.52       0.55
797                  21.0                  42.0  0.99526  3.24       0.81

[1279 rows x 10 columns]

In [16]:
print(X_test)

      fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
39              7.3             0.450         0.36             5.9      0.074
679            10.8             0.260         0.45             3.3      0.060
767             7.5             0.600         0.32             2.7      0.103
1278            8.0             0.715         0.22             2.3      0.075
121             8.8             0.550         0.04             2.2      0.119
...             ...               ...          ...             ...        ...
1245            7.4             0.550         0.19             1.8      0.082
1236            7.8             0.550         0.00             1.7      0.070
663            10.1             0.280         0.46             1.8      0.050
506            10.4             0.240         0.46             1.8      0.075
641             9.5             0.590         0.44             2.3      0.071

      free sulfur dioxide  total sulfur dioxide  density    pH  sulphates
39                   12.0                  87.0  0.99780  3.33       0.83
679                  20.0                  49.0  0.99720  3.13       0.54
767                  13.0                  98.0  0.99938  3.45       0.62
1278                 13.0                  81.0  0.99688  3.24       0.54
121                  14.0                  56.0  0.99620  3.21       0.60
...                   ...                   ...      ...   ...        ...
1245                 15.0                  34.0  0.99655  3.49       0.68
1236                  7.0                  17.0  0.99659  3.26       0.64
663                   5.0                  13.0  0.99740  3.04       0.79
506                   6.0                  21.0  0.99760  3.25       1.02
641                  21.0                  68.0  0.99920  3.46       0.63

[320 rows x 10 columns]

In [18]:
len(X_train)

1279

In [19]:
len(X_test)

320

In [20]:
from sklearn.linear_model import LinearRegression

In [21]:
model=LinearRegression()

In [23]:
model.fit(X_train,y_train)

LinearRegression()

In [24]:
model.coef_

array([ 2.11613793e-01, -9.94344641e-01, -1.11122812e-01,  1.12308868e-01,
       -2.02259475e+00,  3.05357037e-03, -3.28668945e-03, -2.00602304e+02,
        7.86159676e-01,  1.22944791e+00])

In [25]:
model.intercept_

200.97680720110864

#### 4. Make Predictions

In [27]:
predict=model.predict(X_test)

In [28]:
y_test

39      5
679     5
767     5
1278    6
121     6
       ..
1245    5
1236    6
663     6
506     7
641     5
Name: quality, Length: 320, dtype: int64

#### 5. Check the performance of the model using r2_score.

In [31]:
from sklearn.metrics import r2_score

In [32]:
r2_score(y_test,predict)

0.32210959191270294