## Statistics Assignment

1.Create a table in Excel,table should have 2 columns named x and y.

a.'x' column should have numbers from 1-5.

b.'y'should have numbers 2,4,5,4,2.

In [2]:
import pandas as pd

In [3]:
df=pd.read_excel('static.xlsx')

In [4]:
df.head()

   X  Y
0  1  2
1  2  4
2  3  5
3  4  4
4  5  2

c.Now calculate the mean of columns x and y.

In [6]:
df.mean()

X    3.0
Y    3.4
dtype: float64

d.Calculate the mode of column x.

In [5]:
x=df['X']

In [7]:
x.mode()

0    1
1    2
2    3
3    4
4    5
Name: X, dtype: int64

e.Calculate the standard deviation of column y.

In [8]:
y=df['Y']

In [9]:
y.std()

1.3416407864998738

f.Atlast calculate the range of columns x and y separately.

In [15]:
print("Range of X is",df.X.max()-df.X.min())

Range of X is 4

In [14]:
print("Range of Y is",df.Y.max()-df.Y.min())

Range of Y is 3