## Numpy Assignment 1

 ####  1.Create a List named 'mylist' that is having the following elements:10,20,30,'apple',True,8.10

In [1]:
import numpy as np

In [1]:
mylist=[10,20,30,'apple',True,8.10]
mylist

[10, 20, 30, 'apple', True, 8.1]

#### a. Now in the 'mylist', append these values:30,40

In [3]:
mylist=[10,20,30,'apple',True,8.10]
mylist.append([30,40])
mylist

[10, 20, 30, 'apple', True, 8.1, [30, 40]]

#### b.After that reverse the elements of the 'mylist'and store that in 'reversed list'

In [13]:
reversedlist=mylist

In [16]:
reversedlist.reverse()

In [17]:
reversedlist

[[30, 40], 8.1, True, 'apple', 30, 20, 10]

#### 2.Create a dictionary with key values as 1,2,3 and the values as 'data','information' and 'text'.

In [18]:
Dict={1:'data',2:'information',3:'text'}

In [19]:
Dict

{1: 'data', 2: 'information', 3: 'text'}

#### a.After that eliminate the 'text' value from the dictionary

In [3]:
myDictionary={
    1:'data',
    2:'information',
    3:'text'
}
del myDictionary[3]
myDictionary

{1: 'data', 2: 'information'}

#### b.Add 'features' in the dictionary

In [4]:
myDictionary[3]='features'
myDictionary

{1: 'data', 2: 'information', 3: 'features'}

#### c. Fetch the 'data' element from the dictionary and display it in the output.

In [31]:
myDictionary[1]

'data'

#### 3.Create a tuple and add these elements 1,2,3,apple,mango in my_tuple

In [32]:
my_tuple=(1,2,3,'apple','mango')
my_tuple

(1, 2, 3, 'apple', 'mango')

#### 4.Create another tuple named numeric_tuple consisting of only integer values 10,20,30,40,50

In [33]:
numeric_tuple=(10,20,30,40,50)

#### a.find the minimum value from the numeric_tuple.

In [34]:
min(numeric_tuple)

10

#### b.Concatenate my_tuple with numeric_tuple and store the result in r1.

In [36]:
r1=my_tuple+numeric_tuple
r1

(1, 2, 3, 'apple', 'mango', 10, 20, 30, 40, 50)

#### c.Duplicate the tuple named my_tuple 2 times and store that in 'newdupli'

In [38]:
newdupli=2*my_tuple
newdupli

(1, 2, 3, 'apple', 'mango', 1, 2, 3, 'apple', 'mango')

#### 5.Create 2 sets with name set1 and set2, where set1 contains {1,2,3,4,5} and set2  contains {2,3,7,6,1}

#### Perform the below operation:
####   a.set1 union set2

In [41]:
set1={1,2,3,4,5}
set2={2,3,7,6,1}
set3=set1.union(set2)
print(set3)

{1, 2, 3, 4, 5, 6, 7}

#### b.set1 intersection set2

In [43]:
set1={1,2,3,4,5}
set2={2,3,7,6,1}
set4=set1.intersection(set2)
print(set4)

{1, 2, 3}

#### c.set1 difference set2

In [44]:
set5=set1.difference(set2)
print(set5)

{4, 5}