## Case study- Pandas

#### 1.write a function that takes start and end of a range returns a pandas series object containing numbers within that range.
####  In case that user does not pass start or end or both they should default to 1 and 10 respectively.
#### e.g. ->
#### range_series() -> should return a pandas series from 1 to 10.
#### range_series(5) -> should return a pandas series from 5 to 10.
#### range_series(5,10) -> should return a pandas series from 5 to 15.Create a method that takes n numpy arrays of same dimensions sums them and return the answer.

In [2]:
import pandas as pd
s=pd.Series(range(1,11))
print(s)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [3]:
import pandas as pd
s=pd.Series(range(5,11))
print(s)

0     5
1     6
2     7
3     8
4     9
5    10
dtype: int64

In [4]:
import pandas as pd
s=pd.Series(range(5,16))
print(s)

0      5
1      6
2      7
3      8
4      9
5     10
6     11
7     12
8     13
9     14
10    15
dtype: int64

In [5]:
import numpy as np
a=np.array([10,20,30,40])
a.sum()

100

#### 2.Create a function that takes in two lists named keys and values as arguements.
#### keys would be strings and contain n string values.
#### values would be a list containing n lists.
#### The methods should return a new pandas dataframe with keys as column names and values as their corresponding values.
#### e.g.-> create_dataframe(["one","two"],[["X","Y"],["A","B"]])-> should return a dataframe.
####     One Two
####    0  X   A
####    1  Y   B

In [6]:
list1=["One","Two"]
list2=[["X","Y"],["A","B"]]

In [7]:
class fun1:
    def __init__(self,key,value):
        self.key = key
        self.value = value
    def create_dataframe(self):
        series1 = pd.Series(self.value[0])
        series2 = pd.Series(self.value[1])
        data = pd.concat([series1,series2],axis=1)
        data.columns = self.key
        print(data)

In [8]:
obj1 = fun1(list1,list2)
obj1.create_dataframe()

  One Two
0   X   A
1   Y   B

#### 3.Create a function that concatenates two dataframes use previously created function to create two dataframes and pass them as parameters make sure that the indexes are reset before returning.

In [9]:
d1 = {'One':pd.Series(['C','D'])}
df1 = pd.DataFrame(d1)
d2 = {'Two':pd.Series(['R','S'])}
df2 = pd.DataFrame(d2)

In [10]:
create_dataframe=pd.concat([df1,df2],axis=1)
print(create_dataframe)

  One Two
0   C   R
1   D   S

#### 4.write code to load data from cars.csv into a dataframe and print its details.Details like :'count','mean','std','min','25%','50%','75%','max'.

In [11]:
df=pd.read_csv('cars.csv')

In [12]:
df.describe()

,MPG,Cylinder,Disp,HP,Drat,Wt,Qsec,VS,AM,Gear,Carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,20.090625,6.187500,230.403125,147.531250,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,6.026948,1.785922,123.788090,70.012434,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,19.200000,6.000000,197.000000,118.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,22.800000,8.000000,326.000000,201.250000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

In [13]:
df.count()

Model       32
MPG         32
Cylinder    32
Disp        32
HP          32
Drat        32
Wt          32
Qsec        32
VS          32
AM          32
Gear        32
Carb        32
dtype: int64

In [14]:
df.mean()

C:\Users\megik\AppData\Local\Temp\ipykernel_19868\3698961737.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

MPG          20.090625
Cylinder      6.187500
Disp        230.403125
HP          147.531250
Drat          3.596563
Wt            3.217250
Qsec         17.848750
VS            0.437500
AM            0.406250
Gear          3.687500
Carb          2.812500
dtype: float64

In [15]:
df.std()

C:\Users\megik\AppData\Local\Temp\ipykernel_19868\3390915376.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.std()

MPG           6.026948
Cylinder      1.785922
Disp        123.788090
HP           70.012434
Drat          0.534679
Wt            0.978457
Qsec          1.786943
VS            0.504016
AM            0.498991
Gear          0.737804
Carb          1.615200
dtype: float64

In [16]:
df.min()

Model       AMC Javelin
MPG                10.4
Cylinder              4
Disp               71.1
HP                   52
Drat               2.76
Wt                1.513
Qsec               14.5
VS                    0
AM                    0
Gear                  3
Carb                  1
dtype: object

In [17]:
df.max()

Model       Volvo 142E
MPG               33.9
Cylinder             8
Disp             472.0
HP                 335
Drat              4.93
Wt               5.424
Qsec              22.9
VS                   1
AM                   1
Gear                 5
Carb                 8
dtype: object

#### 5.write a method that will take a column as arguement and return the name of the column with which the given column has the highest correlation.
#### The data to be used is the cars dataset.
#### The returned value should not the column named that was passed as the parameters.
#### E.G.get_max_correlated_column('mpg')-> should return 'drat'.

In [18]:
df.corr()

,MPG,Cylinder,Disp,HP,Drat,Wt,Qsec,VS,AM,Gear,Carb
MPG,1.000000,-0.852162,-0.847011,-0.774015,0.681172,-0.867659,0.418684,0.664039,0.599832,0.480285,-0.550925
Cylinder,-0.852162,1.000000,0.900024,0.839705,-0.699938,0.782496,-0.591242,-0.810812,-0.522607,-0.492687,0.526988
Disp,-0.847011,0.900024,1.000000,0.787226,-0.707880,0.887034,-0.433543,-0.708249,-0.589782,-0.553274,0.395375
HP,-0.774015,0.839705,0.787226,1.000000,-0.468566,0.655475,-0.696349,-0.739949,-0.248297,-0.149057,0.729171
Drat,0.681172,-0.699938,-0.707880,-0.468566,1.000000,-0.712441,0.091205,0.440278,0.712711,0.699610,-0.090790
Wt,-0.867659,0.782496,0.887034,0.655475,-0.712441,1.000000,-0.174716,-0.554916,-0.692495,-0.583287,0.427606
Qsec,0.418684,-0.591242,-0.433543,-0.696349,0.091205,-0.174716,1.000000,0.744535,-0.229861,-0.212682,-0.656249
VS,0.664039,-0.810812,-0.708249,-0.739949,0.440278,-0.554916,0.744535,1.000000,0.168345,0.206023,-0.569607
AM,0.599832,-0.522607,-0.589782,-0.248297,0.712711,-0.692495,-0.229861,0.168345,1.000000,0.794059,0.057534
Gear,0.480285,-0.492687,-0.553274,-0.149057,0.699610,-0.583287,-0.212682,0.206023,0.794059,1.000000,0.274073
Carb,-0.550925,0.526988,0.395375,0.729171,-0.090790,0.427606,-0.656249,-0.569607,0.057534,0.274073,1.000000

In [39]:
corr=df['MPG'].corr(df['Drat'])
print(corr)

0.6811719078067492

In [40]:
def max_correlated_col(corr,df):
    dic = {}
    list1 = [x for x in df.columns if df[x].dtypes == float]
    for i in list1:
        dic[i] = abs(df['MPG'].corr(df[i]))
    return max(dic)

In [38]:
max_correlated_col(corr,df)

'Wt'