## Case study problem1 - Recommendation Engine using SVD in python.

In [1]:
# Import libraries
import numpy as np
import pandas as pd

In [2]:
pwd

'C:\\Users\\megik\\Downloads'

#### a. load the 'ratings' and 'movies' dataset which is a part of 'MovieLense'.

In [3]:
# Reading ratings file

ratings = pd.read_csv('C:\\Users\\megik\\Downloads\\ratings.csv', usecols=['userId','movieId','rating','timestamp'])

In [4]:
# Reading movies file

movies = pd.read_csv('C:\\Users\\megik\\Downloads\\movies.csv', usecols=['movieId','title','genres'])

In [5]:
# Print first five rows of movies datset

movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [6]:
# Print first five rows of ratings datset

ratings.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

b.find the unique number of users and movies in the 'ratings' dataset

In [7]:
n_users = ratings.userId.unique().shape[0]

n_movies = ratings.movieId.unique().shape[0]

print(f'Number of users = {n_users} and Number of movies = {n_movies}')

Number of users = 7120 and Number of movies = 14026

c.create a rating matrix for the 'ratings' dataset

In [8]:
Ratings = ratings.pivot(index = 'userId', columns ='movieId', values = 'rating').fillna(0)
Ratings.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,129350,129354,129428,129707,130052,130073,130219,130462,130490,130642
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,3.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

d.Load the 'ratings' dataset as SVD's dataset object and compute 3-fold cross-validation using the SVD object.

In [9]:
# Import libraries from Surprise package
from surprise import Reader, Dataset, SVD
from surprise.model_selection import cross_validate

# Load Reader library
reader = Reader()

# Load ratings dataset with Dataset library
data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader)

# Use the SVD algorithm.
svd = SVD()
# Compute the RMSE of the SVD algorithm.
cross_validate(svd, data, measures=['RMSE', 'MAE'], cv=3, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 3 split(s).

                  Fold 1  Fold 2  Fold 3  Mean    Std
RMSE (testset)    0.8471  0.8445  0.8451  0.8456  0.0011
MAE (testset)     0.6489  0.6470  0.6475  0.6478  0.0008
Fit time          36.87   35.20   34.79   35.62   0.90
Test time         2.65    2.69    2.68    2.67    0.02

{'test_rmse': array([0.84714089, 0.8445427 , 0.8450687 ]),
 'test_mae': array([0.64885497, 0.64702088, 0.64753975]),
 'fit_time': (36.866509675979614, 35.20458960533142, 34.79154634475708),
 'test_time': (2.652583599090576, 2.6913888454437256, 2.6787359714508057)}

In [10]:
# Print the head of ratings dataset
ratings.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

e.Find all the movies rated as 5-stars by userid '5' and store it in 'ratings_1' dataframe.

In [13]:
ratings_1 = ratings[(ratings['userId'] == 5) & (ratings['rating'] >= 4)]
ratings_1 = ratings_1.set_index('movieId')
ratings_1 = ratings_1.join(movies)['title']
ratings_1.head(10)

movieId
11                    Dracula: Dead and Loving It (1995)
62     Don't Be a Menace to South Central While Drink...
110           Rumble in the Bronx (Hont faan kui) (1995)
141                                         Gospa (1995)
150                                Addiction, The (1995)
260                             Ladybird Ladybird (1994)
282                                 Beyond Bedlam (1993)
316                                 Shallow Grave (1994)
318    Strawberry and Chocolate (Fresa y chocolate) (...
350                                          Cobb (1994)
Name: title, dtype: object

f.Create a shallow copy of the 'movies' dataset and store the result in 'user_5'.

In [26]:
# Create a shallow copy for the movies dataset
user_5 = movies.copy()
#Reset the index for user_5 dataset
user_5 = user_5.reset_index()
# getting full dataset
data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader)

g.Train a recommender system using the SVD object and Predict the ratings for userid'5'

In [27]:
#create a training set for svd
trainset = data.build_full_trainset()
svd.fit(trainset)
#Predict the ratings for user5
user_5['Estimate_Score'] = user_5['movieId'].apply(lambda x: svd.predict(5, x).est)
#Drop extra columns from the user5 data frame
user_5 = user_5.drop(['movieId','genres','index'], axis = 1)
# Sort predicted ratings for user5 in descending order
user_5 = user_5.sort_values('Estimate_Score', ascending=False)

h.Print the top 10 movie recommendations for the userid'5'.

In [28]:
# Print top 10 recommendations
print(user_5.head(10))

                                                  title  Estimate_Score
582                                      Aladdin (1992)        5.000000
360                               Lion King, The (1994)        5.000000
589                         Beauty and the Beast (1991)        5.000000
936                        It's a Wonderful Life (1946)        4.996245
2849                               Lady Eve, The (1941)        4.977073
6873  Passion of Joan of Arc, The (Passion de Jeanne...        4.962031
1173  Raiders of the Lost Ark (Indiana Jones and the...        4.946084
7041  Lord of the Rings: The Return of the King, The...        4.940734
4897  Lord of the Rings: The Fellowship of the Ring,...        4.923129
1172                         Princess Bride, The (1987)        4.889909